<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ccw.spring.springboardv2.mapper.BoardMapper">
	<select id="selectBoardList"
			parameterType="java.util.Map"
			resultType="ccw.spring.springboardv2.vo.Board">
			SELECT
				board_no as boardNo,
				board_title as boardTitle,
				board_user as boardUser,
				board_date as boardDate
			FROM board
			ORDER BY board_no DESC
			LIMIT #{startPage}, #{rowPerPage}
	</select>
	
	<select id="selectBoardCount"
			resultType="int">
			SELECT
				COUNT(*) total
			FROM board
	</select>
	
	<insert id="insertBoard"
			parameterType="ccw.spring.springboardv2.vo.Board">
			INSERT INTO board(
				board_pw,
				board_title,
				board_content,
				board_user,
				board_date
			) VALUES(
				#{boardPw},
				#{boardTitle},
				#{boardContent},
				#{boardUser},
				curdate())
	</insert>
	
	<select id="selectBoard"
			parameterType="int"
			resultType="ccw.spring.springboardv2.vo.Board">
			SELECT
				board_no as boardNo,
				board_pw as boardPw,
				board_title as boardTitle,
				board_content as boardContent,
				board_user as boardUser,
				board_date as boardDate
			FROM board
			WHERE board_no = #{boardNo}
	</select>
</mapper>